
<div class="container m-4 p-3">

<h1>Restaurants</h1>

<% @restaurants.each do |restaurant| %>

<h2><%= restaurant.name %></h2>
<p>Address: <%= restaurant.address %></p>
<p>Phone number: <%= restaurant.phone_number %></p>
<td ><%= link_to 'Show', restaurant, class: "btn btn-primary" %></td>
<% end %>

<p><%= link_to 'Add a restaurant', new_restaurant_path, class: "btn btn-primary mt-4" %></p>



</div>


