


<div class="card mb-3">
  <img src="https://source.unsplash.com/collection/190727/1600x900" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title"><%= @restaurant.name %></h5>
    <p class="card-text">Address: <%= @restaurant.address %></p>
    <p class="card-text">Phone number: <%= @restaurant.phone_number %></p>
  </div>
</div>

<div class="card mb-3">
  <div class="card-header">
    <h4>Reviews:</h4>
  </div>
  <div class="card-body">
   <!--  <h4>Reviews:</h4> -->
    <% @restaurant.reviews.each do |review| %>
      <p><%= review.content%>, rating:  <%= review.rating %></p>
      <% end %>
  </div>
</div>

<%= link_to 'Back', restaurants_path, class: "btn btn-primary mt-4 "%>
<%= link_to 'Add a review', new_restaurant_review_path(@restaurant), class: "btn btn-primary mt-4" %>




